# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on: 
  push:
    paths-ignore:
      - '**/README.md'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        maven: [ '3.9.11', '4.0.0-rc-5' ]

    name: Maven ${{ matrix.maven }} run

    steps:
    - uses: actions/checkout@v5
    - name: Set up Maven
      uses: s4u/setup-maven-action@v1.19.0
      with:
        java-version: '21'
        maven-version: ${{ matrix.maven }}

    - name: Build with Maven
      run: mvn -B package --file pom.xml

